<div class="contact-icons">
    {% if site.scholar_userid %}
        <a href="https://scholar.google.com/citations?user={{ site.scholar_userid }}&sortby=pubdate"
           title="Google Scholar">
            <i class="ai ai-google-scholar"></i> Google Scholar
        </a>
    {% endif %}
    &emsp;

    {% if site.linkedin_username %}
        <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}" title="LinkedIn">
            <i class="fab fa-linkedin"></i> LinkedIn
        </a>
    {% endif %}
</div>
